Django==1.2
Pygments==1.3.1
amqplib==0.6.1
anyjson==0.2.4
billiard==0.2.3
carrot==0.10.3
celery==1.0.2
django-picklefield==0.1.6
ghettoq==0.1.2
importlib==1.0.2
python-dateutil==1.5
pystache==0.3.1
South==0.7.2