        
{% spaceless %}
<div class="form-bar-wrapper"><div class="inner">
    {{ form.method }} 
    <div class="url-input-wrapper">{{ form.url }}</div>
    <button type="submit">Send Request</button>
    <div class="clear"></div>
</div></div>
{% endspaceless %}

<div class="under-input {% if use_advanced_form %}advanced{% endif %}">
    {{ form.follow_redirects }} {{ form.follow_redirects.label_tag }}

    {% if not use_advanced_form %}
    <a href="{% url spyglass.views.create_session %}?advanced=yes" class="advanced-form-toggle">Advanced Options</a>
    {% else %}
    <a href="{% url spyglass.views.create_session %}" class="advanced-form-toggle">Basic Options</a>
    {% endif %}

    <a href="{% url session_list %}" class="recent-requests-link">Recent Requests</a>
    
    <div class="advanced-options"{% if not use_advanced_form %} style="display: none;"{% endif %}>

        <label>Extra Headers</label>
        {{ http_header_form.management_form }}

        <table class='extra-headers'>
        {% for form in http_header_form.forms %}
        <tr>
            <td>{{ form.name }}</td> <td>{{ form.value }}</td>
        </tr>
        {% endfor %}
        </table>
        
        <label for="id_body">Request Body</label> {{ form.body }}

        <label>Plugins</label>
        {% for plugin_form in plugin_forms %}
        <fieldset class="plugin-form">
            <h4>{{ plugin_form.plugin.name }}</h4>
            <table>
            {% for field in plugin_form %}
            <tr>
              <td>{{ field.label_tag }}</td>
              <td>{{ field }}</td>
            </tr>
            {% endfor %}
            </table>
        </fieldset>
        {% endfor %}


    </div>
</div>
