{% extends 'spyglass/form_at_top.html' %}

{% block title %}{{ block.super }} - {{ session }}{% endblock %}

{% block content %}
<div class="request session-listing">
    <p>Request <span class="datetime"> for {{ session.http_url }} sent {{ session.time_requested }}</span>
        <span class="actions">
            <a href="./{{session.id}}/resend">resend</a>
            {% if user.is_authenticated and user.is_staff %}
            <a href="{% url admin:spyglass_httpsession_change session.id %}">admin</a>
            {% endif %}
        </span>
    </p>
    <div class="code-listing">
    <table>
        <tr>
            <td class="linenos"><pre><code>{{ request_linenos }}</code></pre></td>
            <td class="data"><pre><code>{{ pretty_request|safe }}</code></pre></td>
        </tr>
    </table>
    </div>
</div>

{% for redirect in session.httpredirect_set.all %}
<p class="followed-redirect">redirected to {{ redirect.url }}</p>
{% endfor %}

{% if not session.http_error %}
<div class="response session-listing">
    <p>Response <span class="datetime">{% if elapsed_milliseconds %}completed in {{ elapsed_milliseconds }} <abbr title="milliseconds">ms</abbr>{% endif %}</span></p>
    <div class="code-listing">
    <table>
        <tr>
            <td class="linenos"><pre><code>{{ response_linenos }}</code></pre></td>
            <td class="data"><pre><code>{{ pretty_response|safe }}</code></pre></td>
        </tr>
    </table>
    </div>
</div>
{% else %}
    <p class="http-error">Error: {{ session.get_http_error_display }}</p>
{% endif %}

{% endblock content %}