{% extends 'spyglass/base.html' %}
{% load humanize %}

{% block title %}{{ block.super }} - Recent Requests{% endblock %}

{% block content %}
<div class="centered-content">

    <p id="session-filter-control">
       <a id="my-requests-link" href="{% url spyglass.views.session_list_mine %}">my requests</a> 
       <a id="all-requests-link" href="{% url spyglass.views.session_list_all %}">all requests</a></p>

    {% include "spyglass/fragment_pagination.html" %}
    <div class="clear"></div>

    {% for session in session_list %}
        
        {% ifchanged session.time_requested.day %}
        <h3>{{ session.time_requested|naturalday|title }}</h3>
        {% endifchanged %}
    
        <p class="session-link"><a href="{{ session.get_absolute_url }}">{{ session }}</a>
        {% if session.http_error %}<span class="error">{{ session.get_http_error_display }}</span>{% endif %}
        <br />{{ session.time_requested }}
        </p>    
    {% empty %}
    <p>Oops, you haven't made any requests yet!</p>
    {% endfor %}
    
    {% include "spyglass/fragment_pagination.html" %}

</div>

{% endblock content %}
