{% extends 'spyglass/base.html' %}

{% block title %}{{ block.super }} - {{ session }}{% endblock %}

{% block content %}
<div class="request session-listing">
    <p>{% if session.is_https %}<img src="{{ MEDIA_URL }}img/lock.png" alt="" />{% endif %}
        Request <span class="datetime"> for {{ session.http_url }} sent {{ session.time_requested }}</span>
        <span class="actions">
            <a href="./{{session.id}}/resend">resend</a>
            {% if user.is_authenticated and user.is_staff %}
            <a href="{% url admin:spyglass_httpsession_change session.id %}">admin</a>
            {% endif %}
        </span>
    </p>
    <div class="code-listing">
    <table>
        <tr>
            <td class="linenos"><pre><code>{{ request_linenos }}</code></pre></td>
            <td class="data"><pre><code>{{ pretty_request|safe }}</code></pre></td>
        </tr>
    </table>
    </div>
    {% with session.querystring_params as qs_params %}
    {% if qs_params %}
    <div class="code-listing">
    <table class="parameter-helper">
    {% for param, value in qs_params %}
        <tr>
            {% if forloop.first %}
            <td class="helper-label" rowspan="{{ qs_params|length }}">URL Parameters:</td>
            {% endif %}
            <th>{{ param }}</th>
            <td>{{ value }}</td>
        </tr>
    {% endfor %}
    </table>
    {% endif %}
    </div>
    {% endwith %}
</div>

<div id="response-container">

    {{ formatted_response|safe }}

</div><!-- /response-container -->

{% endblock content %}
